.main {
    background-image: none;
    transition: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #eee2d4;
}

.menu {
    text-align: center;
    display: flex;
    flex-direction: row;
}

.menu-categories {
    flex: 0 0 295px;
    display: flex;
    justify-content: center;
    background-color: #eee2d4;
}

.menu-category-list {
    transition: 0.25s;
    box-shadow: 20px 20px 20px 0px rgba(0,0,0,.1);
    height: -webkit-fill-available;
    width: 295px;
    background: #eee2d4;
    z-index: 1;
    overflow: auto;
}

.menu-category-list-fixed-80 {
    top: 70px !important;
}

.menu-category-list-fixed-120 {
    position: fixed;
    top: 120px;
}

.menu-title {
    pointer-events: none;
    padding: 10px 0px 10px 0px;
    width: 100%;
}

.menu-categories h1 {
    color: black;
}

.category-nav {
    padding-bottom: 20px;
}

.menu-links .large {
    color: black;
    font-size: 20px;
    font-family: 'Merriweather Sans', sans-serif;
}

.menu-links .normal {
    color: black;
    font-size: 14px;
    font-family: 'Merriweather Sans', sans-serif;
}

.menu-links ul * {
    text-decoration: none;
    overflow-x: hidden;
    margin: 3px;
}


.menu-links p:hover {
    color: #925d5d;
    cursor: pointer;
}

.selected {
    color: #925d5d !important;
}

.menu-info {
    flex: 1;
}

.breakfast-title {
    background-color: #925d5d;
    padding: 10px 0px 10px 0px;
}

.breakfast-title h1 {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75%;
    white-space: nowrap;
    margin: auto;
}

.row-images {
    background-color: #eee2d4;
    flex-wrap: wrap;
}

.row-images img {
   border: 2px solid #999189;
   background: black;
}

.img-column:hover img, .images.hovered {
    opacity: 90%;
}

.img-column:hover h3, .img-txt.hovered {
    opacity: 1;
    bottom: -33.4vw;
}

.img-background {
    opacity: 0% !important;
    height: 35px !important;
    width: 263px !important;
    border: 8px solid !important;
    margin-bottom: -168px !important;
    border-bottom-left-radius: 1px !important;
    border-bottom-right-radius: 1px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    box-shadow: none !important;
}

.img-column:hover .img-background {
    opacity: 60% !important;
    height: 40px !important;
    width: 264px !important;
    margin-bottom: 2px !important;
}

.img-column:hover .img-background-larger {
    height: 55px !important;
    width: 268px !important;
    margin-bottom: -153px !important;
}

.img-column-larger:hover h3 {
    bottom: -33.4vw
}

@media(max-width: 589px) {

    .row-images .images, .img-column {
        width: 90vw;
        height: 65vw;     
    }

    .img-column {
        margin: 8px;
    }

    .img-background {
        height: 8vw !important;
        width:  88vw !important;
        margin-bottom: 2px !important;
        position: relative !important;
    }

    .img-column:hover .images {
        width: 92vw !important;
        height: 67vw !important;
    } 

    .img-column:hover {
        width: 92vw !important;
        height: 67vw !important;
    } 

    .img-column:hover .img-background {
        width: 90vw !important;
        height: 10vw !important;
    } 

    .img-column:hover .img-background-larger {
        width: 90vw !important;
        height: 14vw !important;
        margin-bottom: 2px !important;
    }

    .img-column h3 {
        bottom: -35vw;
        font-size: 6vw;
    }

}

.text-box {
    pointer-events: none;
    height: 10vw;
    align-items: center;
}

.text-box .img-background {
    opacity: 60% !important;
    position: absolute !important;
}

.text-box .img-txt {
    bottom: 0.5px;
    opacity: 1;
    position: relative;
}

.img-column-larger.text-box .img-background-larger {
    height: 55px !important;
}

.menu-title i {
    font-size: 20px;
    margin-left: 8px;
    top: 7px;
    display: none;
    position: relative;
}

@media(max-width: 884px) {
    .menu {
        flex-direction: column;
    } 

    .menu-categories {
        flex: 0 0 56px;
    }

    .menu-category-list {
        display: flex;
        height: auto;
        max-height: 75%;
        width: 100%;
        box-shadow: 0px 20px 20px 0px rgba(0,0,0,.1);
        flex-direction: column;
        position: fixed;
        top: 105px;
        transition: 0.25s;
    }

    .menu-title {
        pointer-events: all;
        cursor: pointer;
        user-select: none;
    }

    .menu-title h1 {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 75%;
        white-space: nowrap;
        margin: auto;
        vertical-align: middle;
    }

    .menu-title i {
        display: inline-block;
    }

    .dropdown-categories {
        display: flex;
    }

    .category-nav {
        display: none;
        padding-bottom: 10px;
    }

}

@media(max-width: 430px) {

}

@media(max-width: 390px) {
    .menu-categories {
        flex: 0 0 54px;
    }
}

@media(max-width: 350px) {
    .menu-categories {
        flex: 0 0 51px;
    }
}

.displayed-nav {
    display: block;
    height: auto;
    overflow-y: auto;
}





